#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.map-section {
  background: #000;
  color: #fff;
  width: 100%;
  max-width: 780px;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative;
  margin-bottom: 2rem;
}

.placeholder-map {
  width: 100%;
  color: #aaa;
  letter-spacing: 2px;
  padding: 100px 0;
  text-align: center;
  font-size: 1.6rem;
  border: 2px dashed #444;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.sections section {
  min-width: 270px;
  max-width: 340px;
  background: #222;
  color: #eee;
  border-radius: 16px;
  padding: 1.4rem;
}
.sections h2 {
  margin-top: 0;
}
.film-list,
.article-list,
.report-list {
  min-height: 48px;
}

.header-bar {
  width: 100vw;
  min-height: 58px;
  background: #161925;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 12px 0 #16192533;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}

.header-content {
  max-width: 1280px;
  width: 100vw;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 58px;
}

.brand {
  font-weight: 700;
  font-size: 1.33rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}
